<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <H1>Enter Username:</H1>
  <input type="text" name="uname" id="uname">
  <br>
  <br>
  <button type="submit"> Send to DB</button>
</body>
</html>